create table user_preferences (user_id uuid primary key references auth.users not null, dashboard_layout jsonb default '[]'::jsonb); alter table user_preferences enable row level security; create policy \
Users
can
manage
own
preferences\ on user_preferences for all using (auth.uid() = user_id);
